<!doctype html>
<html>

<head>
    <title>Settings</title>
  <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Settings</h1>
  </header>
  <main>
    <ul>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/appearance">Appearance</a></li>
      <li><a href="/language">Language</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/delete">Delete Account</a></li>
    </ul>
  </main>
</body>
</html>



</body>
